@import "common.css";
#main-wrapper {
  max-width: 900px;
  margin: auto;
  padding: 16px;
}
#main-wrapper .author {
  display: none;
}
#main-wrapper .snippet-result {
  display: none;
}
#main-wrapper #home-search {
  margin-top: 40px;
}
#main-wrapper #home-search .search input {
  border: 1px solid #eee;
  width: 100%;
  padding: 13px;
  font-size: 18px;
  line-height: 24px;
  box-shadow: 1px 1px 3px -1px #ddd;
  border-radius: 2px;
  background-color: #fff;
}
#main-wrapper #home-list {
  margin-top: 20px;
  border-radius: 3px;
}
#main-wrapper #home-list .item {
  background: #fff;
  margin-bottom: 1px;
  display: flex;
}
#main-wrapper #home-list .item .item-tags {
  flex: 0 0 auto;
  display: none;
}
#main-wrapper #home-list .item .item-tags a {
  padding: 3px 5px;
  background: #eee;
  border-radius: 3px;
}
#main-wrapper #home-list .item .item-title {
  flex: 1 1 auto;
}
#main-wrapper #home-list .item .item-title a {
  display: inline-block;
  padding: 8px 12px;
  width: 100%;
  transition: all 0.3s;
}
#main-wrapper #home-list .item .item-title a:hover {
  background: #eee;
}
#main-wrapper .main-sub {
  margin-top: 20px;
  margin-bottom: 20px;
  background: #fff;
  padding: 8px 16px;
  border-radius: 3px;
  box-shadow: 1px 1px 8px 0 #ddd;
  position: relative;
}
#main-wrapper .main-sub .sub-save-btn {
  position: absolute;
  right: 10px;
  bottom: 10px;
  padding: 5px 8px;
  background: #ccc;
  opacity: 0.8;
}
#main-wrapper .main-sub .sub-desc {
  margin-top: 10px;
  line-height: 1.5;
}
#main-wrapper .main-sub .sub-desc a {
  color: #0a95ff;
  text-decoration: underline;
}
#main-wrapper .main-sub .sub-desc table {
  width: 100%;
  font-size: 13px;
  border-collapse: collapse;
  border-spacing: 0;
}
#main-wrapper .main-sub .sub-desc table th, #main-wrapper .main-sub .sub-desc table td {
  border: 1px solid #ccc;
  padding: 6px;
  text-align: left;
}
#main-wrapper .main-sub .sub-desc table th {
  background: #f5f5f5;
}
#main-wrapper .main-sub .sub-desc pre {
  background: #f6f6f6;
  padding: 0.8rem;
  margin: 0.6rem 0;
  border-radius: 3px;
  overflow-x: auto;
  font-family: var(--ff-mono);
  font-size: 13px;
}
#main-wrapper .main-sub .sub-desc pre > code {
  font-family: inherit;
}
#main-wrapper .main-sub .sub-desc blockquote {
  border-left: 3px solid #999;
  margin: 1rem 1rem 1rem 0.5rem;
  padding-left: 0.75rem;
}
#main-wrapper .main-ans-list .ans {
  padding: 8px 16px;
  margin-bottom: 16px;
  background: #fff;
  border-radius: 3px;
  box-shadow: 1px 1px 8px 0 #ddd;
  position: relative;
  border-top: 4px solid #999999;
}
#main-wrapper .main-ans-list .ans.accepted {
  border-top: 4px solid green;
}
#main-wrapper .main-ans-list .ans .ans-save-btn {
  position: absolute;
  right: 10px;
  bottom: 10px;
  padding: 5px 8px;
  background: #ccc;
  opacity: 0.8;
}
#main-wrapper .main-ans-list .ans:hover:after {
  opacity: 1;
}
#main-wrapper .main-ans-list .ans .ans-desc a {
  color: #0a95ff;
  text-decoration: underline;
}
#main-wrapper .main-ans-list .ans .ans-desc table {
  width: 100%;
  font-size: 13px;
  border-collapse: collapse;
  border-spacing: 0;
}
#main-wrapper .main-ans-list .ans .ans-desc table th, #main-wrapper .main-ans-list .ans .ans-desc table td {
  border: 1px solid #ccc;
  padding: 6px;
  text-align: left;
}
#main-wrapper .main-ans-list .ans .ans-desc table th {
  background: #f5f5f5;
}
#main-wrapper .main-ans-list .ans .ans-desc pre {
  background: #f6f6f6;
  padding: 0.8rem;
  margin: 0.6rem 0;
  border-radius: 3px;
  overflow-x: auto;
  font-family: var(--ff-mono);
  font-size: 13px;
}
#main-wrapper .main-ans-list .ans .ans-desc pre > code {
  font-family: inherit;
}
#main-wrapper .main-ans-list .ans .ans-desc blockquote {
  border-left: 3px solid #999;
  margin: 1rem 1rem 1rem 0.5rem;
  padding-left: 0.75rem;
}

/*# sourceMappingURL=main.css.map */
