@import "common.css";
#main-wrapper {
  max-width: 900px;
  margin: auto;
  padding: 16px;
}
#main-wrapper .author {
  display: none;
}
#main-wrapper .snippet-result {
  display: none;
}
#main-wrapper #home-search {
  margin-top: 40px;
}
#main-wrapper #home-search .search input {
  border: 1px solid #eee;
  width: 100%;
  padding: 13px;
  font-size: 18px;
  line-height: 24px;
  box-shadow: 1px 1px 3px -1px #ddd;
  border-radius: 2px;
  background-color: #fff;
}
#main-wrapper #home-list {
  margin-top: 20px;
  border-radius: 3px;
  position: relative;
}
#main-wrapper #home-list .item {
  background: #fff;
  box-shadow: 1px 1px 3px -1px #999;
  margin-bottom: 1px;
  position: absolute;
  border-radius: 3px;
}
#main-wrapper #home-list .item .item-title {
  width: 100%;
}
#main-wrapper #home-list .item .item-title a {
  display: block;
  padding: 12px;
  width: 100%;
  font-weight: bold;
  border-radius: 3px 3px 0 0;
}
#main-wrapper #home-list .item .item-title a:hover {
  background: #333;
  color: #fff;
}
#main-wrapper #home-list .item .item-tags {
  padding: 6px;
  border-top: 1px solid #cccccc;
}
#main-wrapper #home-list .item .item-tags a {
  padding: 0 5px;
  margin: 0 3px 3px 0;
  line-height: 1.4rem;
  vertical-align: middle;
  font-size: 0.875rem;
  border-radius: 2px;
  display: inline-block;
  background: #f2f2f2;
}
#main-wrapper #home-list .item .item-tags a.active {
  border-bottom: 1px solid #bbbbbb;
}
#main-wrapper #home-list .item .item-tags a:hover {
  background: #cccccc;
}
#main-wrapper .main-sub {
  margin-top: 20px;
  margin-bottom: 20px;
  background: #fff;
  border-radius: 3px;
  box-shadow: 1px 1px 8px 0 #ddd;
  position: relative;
}
#main-wrapper .main-sub .sub-title {
  padding: 8px 16px;
  background: #333333;
  color: #ffffff;
  border-radius: 3px 3px 0 0;
}
#main-wrapper .main-sub .sub-save-btn {
  position: sticky;
  bottom: 0;
  left: 100%;
  padding: 5px 8px;
  background: #ccc;
  opacity: 0.8;
}
#main-wrapper .main-sub .sub-desc {
  padding: 5px 16px;
  line-height: 1.5;
}
#main-wrapper .main-sub .sub-desc a {
  color: #0a95ff;
  text-decoration: underline;
}
#main-wrapper .main-sub .sub-desc table {
  width: 100%;
  font-size: 13px;
  border-collapse: collapse;
  border-spacing: 0;
}
#main-wrapper .main-sub .sub-desc table th, #main-wrapper .main-sub .sub-desc table td {
  border: 1px solid #ccc;
  padding: 6px;
  text-align: left;
}
#main-wrapper .main-sub .sub-desc table th {
  background: #f5f5f5;
}
#main-wrapper .main-sub .sub-desc pre {
  background: #f6f6f6;
  padding: 0.8rem;
  margin: 0.6rem 0;
  border-radius: 3px;
  overflow-x: auto;
  font-family: var(--ff-mono);
  font-size: 13px;
  max-height: 500px;
}
#main-wrapper .main-sub .sub-desc pre > code {
  font-family: inherit;
}
#main-wrapper .main-sub .sub-desc blockquote {
  border-left: 3px solid #bbbbbb;
  margin: 1rem 1rem 1rem 0.5rem;
  padding-left: 0.75rem;
}
#main-wrapper .main-ans-list {
  position: relative;
}
#main-wrapper .main-ans-list .ans {
  margin-bottom: 16px;
  background: #fff;
  border-radius: 3px;
  box-shadow: 1px 1px 8px 0 #ddd;
  border-top: 6px solid #999999;
  position: relative;
}
#main-wrapper .main-ans-list .ans.accepted {
  border-top: 6px solid green;
}
#main-wrapper .main-ans-list .ans .ans-save-btn {
  position: sticky;
  bottom: 0;
  left: 100%;
  padding: 5px 8px;
  background: #ccc;
  opacity: 0.8;
}
#main-wrapper .main-ans-list .ans:hover:after {
  opacity: 1;
}
#main-wrapper .main-ans-list .ans .ans-desc {
  padding: 8px 16px;
}
#main-wrapper .main-ans-list .ans .ans-desc a {
  color: #0a95ff;
  text-decoration: underline;
}
#main-wrapper .main-ans-list .ans .ans-desc table {
  width: 100%;
  font-size: 13px;
  border-collapse: collapse;
  border-spacing: 0;
}
#main-wrapper .main-ans-list .ans .ans-desc table th, #main-wrapper .main-ans-list .ans .ans-desc table td {
  border: 1px solid #ccc;
  padding: 6px;
  text-align: left;
}
#main-wrapper .main-ans-list .ans .ans-desc table th {
  background: #f5f5f5;
}
#main-wrapper .main-ans-list .ans .ans-desc pre {
  background: #f6f6f6;
  padding: 0.8rem;
  margin: 0.6rem 0;
  border-radius: 3px;
  overflow-x: auto;
  font-family: var(--ff-mono);
  font-size: 13px;
  max-height: 500px;
}
#main-wrapper .main-ans-list .ans .ans-desc pre > code {
  font-family: inherit;
}
#main-wrapper .main-ans-list .ans .ans-desc blockquote {
  border-left: 3px solid #bbbbbb;
  margin: 1rem 1rem 1rem 0.5rem;
  padding-left: 0.75rem;
}

/*# sourceMappingURL=main.css.map */
